# Compiled Object files
*.o
*.obj
*.exe

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst


/d_bindings_example
d_bindings_example.so
d_bindings_example.dylib
d_bindings_example.dll
d_bindings_example.a
d_bindings_example.lib
d_bindings_example-test-*



